<div>
    <img src="https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg" width=100% height="auto">
    <div class="centered">
      <h1 class="display-4">You're not logged in</h1>
      <p class="lead">Log in now to find many amazing books easily!</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Log In</a>
      </p>
      <p>Don't have an account?</p>
      <p> <a [routerLink]="['/signin']">Sign up</a> </p>
    </div>
  </div>
