<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fffff0;">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="https://www.pngitem.com/pimgs/m/211-2114462_books-icon-orange-book-icon-ico-hd-png.png" width="30" height="30" class="d-inline-block align-top" alt="">The Book Spot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop']">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/library']">Your Library</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Books" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/account']">Search</button>
      </form> -->
      <a [routerLink]="['/account']">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      </a>
    </div>
  </nav>