<div class="container">
  <h1 class="display-2">Pick a Genre</h1>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://blog-cdn.reedsy.com/uploads/2019/02/engagement-1718244_1280.jpg" alt="Romance">
      <div class="card-body">
        <h5 class="card-title">Romance</h5>
        <p class="card-text">The romance genre is meshed often with other genres; it’s the most popular universal theme to 
            incorporate with other genres. Any story that involves a love or romantic relationship between a man and women 
            with a happy ending can claim the “romance” tag. While romance is a separate theme, it can be closely related to 
            the drama genre because of its nature to get up front and personal with the emotions and conflicts of realistic 
            characters and relationships. The conflict in romances can be depicted as drama.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.blogcdn.com/www.switched.com/media/2010/08/drawn4-1282747160.jpg" alt="Adventure">
      <div class="card-body">
        <h5 class="card-title">Adventure</h5>
        <p class="card-text">Adventure novels often are quick-paced and involve a series of actions outside the usual happenings for 
            the protagonist. With this in mind, Dan Brown’s book, The DaVinci Code, might be an example of a great adventure novel. This book
             is often categorized in the mystery genre, however, which leads to the point that adventure novels often blur the lines 
             with other genres. It might be more accurate to say that they are set in other genres, because it is the action that drives the 
             novels and sets them into their own niche. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://cdn.britannica.com/09/92009-050-122EC720/Enterprise-from-Star-Trek-III-The-Search.jpg" alt="Sci-Fi">
      <div class="card-body">
        <h5 class="card-title">Sci-Fi</h5>
        <p class="card-text">Science fiction is a genre of speculative fiction that contains imagined elements 
            that don’t exist in the real world. Science fiction spans a wide range of themes that often explore time travel, 
            space travel, are set in the future, and deal with the consequences of technological and scientific advances.
            </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://i.kym-cdn.com/photos/images/original/001/224/113/9c0.jpg" alt="Horror">
      <div class="card-body">
        <h5 class="card-title">Horror</h5>
        <p class="card-text">Horror is a genre of literature, film, and television that is meant to scare, 
          startle, shock, and even repulse audiences. The key focus of a horror novel, horror film, or horror 
          TV show is to elicit a sense of dread in the reader through frightening images, themes, and situations.

          In the horror genre, story and characters are just as important as mood and atmosphere. A horror story 
          often shocks and provokes with its exploration of the unknown.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://www.cine2dvdtransfers.co.uk/blog/wp-content/uploads/2019/06/Action-1024x593.jpg" alt="Action">
      <div class="card-body">
        <h5 class="card-title">Action</h5>
        <p class="card-text">The action genre is characterized by more emphasis on exciting action sequences than on character development 
          or story-telling. That is not to say that the action-adventure story does not have memorable characters or circumstances, however. 
          Generally heroes are seen as larger than life, and many times they are prime examples of the epic hero archetype.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://els-jbs-prod-cdn.jbs.elsevierhealth.com/cms/attachment/c9c0bea9-446a-4649-a069-dd0ad11f526f/fx1_lrg.jpg" alt="Biography">
      <div class="card-body">
        <h5 class="card-title">Biography</h5>
        <p class="card-text">A biography, or simply bio, is a detailed description of a person's life. It involves more than just the basic facts like 
          education, work, relationships, and death; it portrays a person's experience of these life events. 
            </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>