<div class="container">
<form>
  <h1 class="display-4">Login to your account</h1>
    <div class="form-group">
      <label for="email">E-mail address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary" [routerLink]="['/library']">Login</button>
  </form>
</div>