<div class="container">
  <h1 class="display-3 font-weight-normal"> Explore Books </h1>

  <h3 class="display-5">You chose:</h3>

  <div style="height: 40px;"></div>

<form class="form-inline waves-light" mdbWavesEffect>
  <div class="md-form mt-0">
    <input class="form-control mr-lg-2" type="text" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></button>
</form>

<div style="height: 40px;"></div>
  <div class="card-deck">

    <div class="card">
      <!-- <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630572642l/2165._SY475_.jpg"
      alt="The Old Man and the Sea"> -->
      <a></a>
      <div class="card-body">
        <h3 class="card-title">The Old Man and The Sea</h3>
        <h5>Ernest Hemmingway</h5>
        <p class="card-text">The Old Man and the Sea, short heroic novel by Ernest Hemingway, 
          published in 1952 and awarded the 1953 Pulitzer Prize for fiction. 
          It was his last major work of fiction. The story centres on an aging fisherman who engages in an epic battle to catch a giant marlin.</p>
        <p><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/bookinfo']">Read</button></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Literary Fiction</small>
      </div>
    </div>





    <div class="card">
      <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630572642l/2165._SY475_.jpg"
      alt="The Old Man and the Sea">
      <div class="card-body">
        <h3 class="card-title">The Old Man and The Sea</h3>
        <h5>Ernest Hemmingway</h5>
        <p class="card-text">The Old Man and the Sea, short heroic novel by Ernest Hemingway, 
          published in 1952 and awarded the 1953 Pulitzer Prize for fiction. 
          It was his last major work of fiction. The story centres on an aging fisherman who engages in an epic battle to catch a giant marlin.</p>
        <p><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/bookinfo']">Read</button></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Literary Fiction</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328336001l/11339278.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Holes</h3>
        <h5>Louis Sachar</h5>
        <p class="card-text">Stanley Yelnats is under a curse. A curse that began with his no-good-dirty-rotten-pig-stealing-great-great-grandfather 
          and has since followed generations of Yelnats. Now Stanley has been unjustly sent to a boys’ detention center, 
          Camp Green Lake, where the boys build character by spending all day, every day digging holes exactly 
          five feet wide and five feet deep. There is no lake at Camp Green Lake. But there are an awful lot of holes.</p>
          <p><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/bookinfo']">Read</button></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71sH3vxziLL.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Harry Potter and the Deathly Hallows</h3>
        <h5>J.K. Rowling</h5>
        <p class="card-text">Readers beware. The brilliant, breathtaking conclusion to J.K. Rowling's spellbinding series is not for the faint of heart
          --such revelations, battles, and betrayals await in Harry Potter and the Deathly Hallows that no fan will make it to the end 
          unscathed. Luckily, Rowling has prepped loyal readers for the end of her series by doling out increasingly dark and dangerous 
          tales of magic and mystery, shot through with lessons about honor and contempt, love and loss, and right and wrong. </p>
          <p><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/bookinfo']">Read</button></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1334416842l/830502.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">IT</h3>
        <h5>Stephen King</h5>
        <p class="card-text">Welcome to Derry, Maine ...
          <br><br>
          It’s a small city, a place as hauntingly familiar as your own hometown. 
          Only in Derry the haunting is real ...</p>
          <p><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/bookinfo']">Read</button></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

<div style="height: 90px;"></div>

<div class="container">
  <h2 class="display-3 font-weight-normal"> Take your weekly reading up a notch </h2>
  <p>Why not spice up your library by choosing different genres for next week?</p>
  <ul class="list-group">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="action" aria-label="...">
      Action
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="adventure" aria-label="...">
      Adventure
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="biography" aria-label="...">
      Biography
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="fantasyfiction" aria-label="...">
      Fantasy Fiction
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="horror" aria-label="...">
      Horror
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="scifi" aria-label="...">
      Sci-Fi
    </li>
  </ul>
  <br>
  <a class="btn btn-primary btn-lg" role="button">Submit</a>
</div>
