<div class="container">
<div class="media">
    <img class="mr-3" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630572642l/2165._SY475_.jpg"
     alt="The Old Man and the Sea" height=20% width=20%>
    <div class="media-body">
      <h3 class="mt-0">The Old Man and The Sea</h3>
      <h5>Ernest Hemmingway</h5>
      The Old Man and the Sea, short heroic novel by Ernest Hemingway, 
      published in 1952 and awarded the 1953 Pulitzer Prize for fiction. 
      It was his last major work of fiction. The story centres on an aging fisherman who engages in an epic battle to catch a giant marlin.
      
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328336001l/11339278.jpg" 
    alt="Holes" height=20% width=20%>
    <div class="media-body">
      <h3 class="mt-0">Holes</h3>
      <h5>Louis Sachar</h5>
      Stanley Yelnats is under a curse. A curse that began with his no-good-dirty-rotten-pig-stealing-great-great-grandfather 
      and has since followed generations of Yelnats. Now Stanley has been unjustly sent to a boys’ detention center, 
      Camp Green Lake, where the boys build character by spending all day, every day digging holes exactly 
      five feet wide and five feet deep. There is no lake at Camp Green Lake. But there are an awful lot of holes.
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="https://images-na.ssl-images-amazon.com/images/I/71sH3vxziLL.jpg" 
    alt="Harry Potter and the Deathly Hallows" height=20% width=20%>
    <div class="media-body">
      <h3 class="mt-0">Harry Potter and the Deathly Hallows</h3>
      <h5>J.K. Rowling</h5>
      Readers beware. The brilliant, breathtaking conclusion to J.K. Rowling's spellbinding series is not for the faint of heart
      --such revelations, battles, and betrayals await in Harry Potter and the Deathly Hallows that no fan will make it to the end 
      unscathed. Luckily, Rowling has prepped loyal readers for the end of her series by doling out increasingly dark and dangerous 
      tales of magic and mystery, shot through with lessons about honor and contempt, love and loss, and right and wrong. Fear not, 
      you will find no spoilers in our review--to tell the plot would ruin the journey, and Harry Potter and the Deathly Hallows is an 
      odyssey the likes of which Rowling's fans have not yet seen, and are not likely to forget. But we would be remiss if we did not 
      offer one small suggestion before you embark on your final adventure with Harry--bring plenty of tissues.
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="https://images-na.ssl-images-amazon.com/images/I/61WqDeL-SRL.jpg" 
    alt="Harry Potter Illustrated Books 1-4" height=20% width=20%>
    <div class="media-body">
      <h5><span class="badge badge-pill badge-primary">New</span></h5>
      <h3 class="mt-0">Harry Potter Illustrated Books 1-4</h3>
      <h5>J.K. Rowling</h5>
      Wizards and muggles alike will be enchanted by this 4-book set of the Harry Potter: Illustrated Collection. 
      This set contains the first four books in the Harry Potter Series, gorgeously illustrated in full color by Jim Kay. 
      Includes the following titles: Harry Potter and the Sorcerer's Stone, Harry Potter and the Chamber of Secrets, Harry Potter 
      and the Prisoner of Azkaban, and Harry Potter and the Goblet of Fire.
    </div>
  </div>
  <div class="media">
    <img class="mr-3" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1334416842l/830502.jpg" 
    alt="It" height=20% width=20%>
    <div class="media-body">
      <h5><span class="badge badge-pill badge-danger">Sale</span></h5>
      <h3 class="mt-0">It</h3>
      <h5>Stephen King</h5>
      Welcome to Derry, Maine ...
      <br><br>
      It’s a small city, a place as hauntingly familiar as your own hometown. 
      Only in Derry the haunting is real ...
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1630572642l/2165._SY475_.jpg"
      alt="The Old Man and the Sea">
      <div class="card-body">
        <h3 class="card-title">The Old Man and The Sea</h3>
        <h5>Ernest Hemmingway</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p><button type="button" class="btn btn-outline-primary btn-sm">Buy</button></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">₱499</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
